<div class="message">
  <div class="message-user other-user">
    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
    <p><%= message.user.name %></p>
  </div>
  <div class="message-content">
    <p><%= message.body %></p>
  </div>
</div>