<%= link_to(user_chats_path(current_user, :other_user => user.id), method: :post) do %>
  <div class="user">
    <%= user.name %>
    <% if user.msg_count(current_user) %>
      <div class="user-msg-count">
    <% else %>
      <div class="user-msg-count-hidden">
    <% end %>
        <%= user.msg_count(current_user) %>
      </div>
  </div>
<% end %>