<div id="clearance" class="sign-up">
  <h1>Sign Up</h1>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
    
    <div class="other-links">
      <%= form.submit 'Sign Up', class: 'btn btn-lg btn-info' %>
    </div>
  <% end %>
</div>