$no-active-font: 'Ubuntu', open-sans;
$green-color: #36a188;
$orange-color: #d68e4a;

#conversations,
  #friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

    h2 {
      color: white;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
    }
}

.conversation-list,
  .friends-list {
    padding: 10px;
    border-radius: 10px;
}

#conversations h2 {
  background-color: $green-color;
}

.conversation-list {
  background-color: none;
  border: 1px solid $green-color;

  .user {
    border: 1px solid $green-color;
  }
}

#friends h2 {
  background-color: $orange-color;
}

.friends-list {
  background-color: none;
  border: 1px solid $orange-color;

  .user {
    border: 1px solid $orange-color;
  }

  .user .user-msg-count {
    background-color: $green-color;
  }
}

.user {
  background-color: none;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
  color: white;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;

  &:hover {
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.301);
  }

  .user-avatar {
    width: 35px;
    height: 35px; 
    background-color: #dcdcdc;
    border-radius: 5px;
  }

  .user-msg-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35px;
    background-color: $orange-color;
    border-radius: 5px;
  }
}

a:hover {
  text-decoration: none;
}

.no-active {
  position: relative;
  z-index: 10;
  background-color: #dedede;
  padding: 20px;
  font-size: 1.5em;
  border-radius: 5px;
  font-family: $no-active-font;
  color: #b9b9b9;
}