#conversations,
  #friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

    h2 {
      width: fit-content;
      color: white;
      text-shadow: 0 2px 3px #000;
      padding: 10px 10px 10px;
      display: inline-block;
      border-radius: 10px 10px 0 0;
      position: relative;
      top: 22px;
    }
}

.conversation-list,
  .friends-list {
    padding: 10px;
    border-radius: 10px;
}

#conversations h2,
.conversation-list {
  background-color: #2c69a2;
}

#friends h2, 
.friends-list {
  background-color: #143857;
}

.user {
  background-color: #7aafd8;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
  color: #fff;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;

  &:hover {
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    color: black;
    background-color: #478fca;
  }

  .user-avatar {
    width: 35px;
    height: 35px; 
    background-color: #dcdcdc;
    border-radius: 5px;
  }

  .user-msg-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35px;
    background-color: #ce3e81;
    border-radius: 5px;
  }
}

a:hover {
  text-decoration: none;
}