$h1-font: 'Oswald', sans-serif;

$break-small: 440px;

#clearance.sign-in {
  width: 90%;
  // height: 90vh;
  text-align: center;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $break-small) {
    width: 420px;
  }

  h1 {
    color: white;
    font-family: $h1-font;
  }

  #session_email, #session_password {
    background-color: #dddddd;
    padding: 12px;
    border-radius: 500px;
    border: none;
    box-shadow: 0 2px 5px #1d1d1d;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }

  form {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo {
    height: 34px;
    margin: 0 5px 5px;
  }
}

#login-btn, #signup-btn {
  background-color: #36a836;
  border: none;
  padding: 50px;
}

p.login-labels {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  margin: 0;
}