.avatar-skeleton {
  background-color: rgb(0, 132, 255);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.message-user {
  display: flex;
  align-items: center;
  background-color: #47c289;
  border-radius: 5px 5px 0 0;
  color: white;

  p {
    margin: 0;
    margin-left: 10px;
  }
}

.message-content {
  background-color: rgb(187, 187, 187);
  border-radius: 0 0 5px 5px;

  p {
    margin: 0;
  }
}

.message-user, .message-content {
  padding: 10px;
  box-shadow: 0 2px 3px rgb(107, 107, 107);
}

.other-user {
  background-color: #d65656;
  flex-direction: row-reverse;
  
  p {
    margin-right: 10px;
  }
}

.other-message-content {
  text-align: right;
}

.message {
  border-radius: 5px;
  width: 95%;
  margin: 10px auto;
  word-wrap: break-word;
}

.message-timestamp {
  text-align: right;
  color: #888888;
  margin: 5px 0;
}

.message-timestamp.other-message-timestamp {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}