$family: 'Oswald', sans-serif;

#navigation {
  width: 100%;
  height: 75px;
  background-color: #155087;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;

  h4 {
    margin: 0;
    margin-top: 2px;
    margin-left: 3px;
    font-family: $family;
    font-weight: 300;
    font-size: 1.5em;
    color: #fff;
  }

  a {
    color: white;
    font-family: $family;

    &:hover {
      color: #808080;
    }
  }
}

.nav-brand, .nav-links {
  display: flex;
}