$family: 'Oswald', sans-serif;

$break-small: 400px;
$break-medium: 600px;
$break-large: 800px;
$break-x-large: 1200px;

#navigation {
  width: 100%;
  height: 75px;
  background-color: #155087;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  z-index: 100;
  top: 0;

  h4 {
    margin: -2px 0 0;
    font-family: $family;
    font-weight: 300;
    font-size: 1.5em;
    color: #fff;
  }

  a {
    color: white;
    font-family: $family;
    font-size: 1.3em;

    &:hover {
      color: #eee;
    }
  }
}

.nav-brand, .nav-links {
  display: flex;
}

#nav-logo-big {
  height: 25px;
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

#nav-logo-sm {
  height: 25px;
  margin: 0 6px 0;
  display: none;
  @media screen and (max-width: $break-small) {
    display: block;
  }
}